.biglist {
    background-color: var(--accent);
    color: var(--background);
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 1rem;
}
.biglist > .title {
    font-size: 1.9rem;
}
.bigtitle{
    font-size: 2rem;
    font-family: var(--press);
    padding: 1rem 0;
}
.textl {
    font-size: 1.25rem;
    font-family: var(--tect);
}