.gif {
    border: var(--accent) 1rem solid;
    height: 15rem;
    border-radius: 10px;
    
}
.hero_gif {
    
    padding: 2rem;
    display:  flex;
    justify-content: space-around;
}
.gif_text {
    text-align: center;
    font-family: var(--tect);
    font-size: 2rem;
}